<div class="but">
      <div class="like-button">
        <button class="btn btn-outline-success" type="button" name="button" (click)='likeButtonClick()'><i class="glyphicon glyphicon-thumbs-up"></i></button>
          <span>{{numberOfLikes}}</span>
      </div>
          <div class="like-button">
          <button class="btn btn-outline-success" type="button" name="button" (click)='likeButtonClick()'><i class="glyphicon glyphicon-thumbs-down"></i></button>
              <span>{{numberOfLikes}}</span>
      </div>
</div>
