
<div class="container-fluid" id="bodyForm">
    <div class="row">
        <form (ngSubmit)='submitQuote()'#quoteForm='ngForm'>
                  <div class="form-group">

                      <label for="message">Write Quote</label>
                      <textarea class="form-control" id="message" rows="4" [(ngModel)]="newQuote.message" name="message" #message="ngModel" required></textarea>
                        <div [hidden]="message.valid || message.pristine" class="alert alert-danger">
                            <p> Quote is Required</p>

                  </div>
                </div>
                  <div class="form-group">

                      <label for="details">Your Name</label>
                       <input type="text"  class="form-control" id="details" [(ngModel)]="newQuote.details" name="details" #details="ngModel" required>
                       <div [hidden]="details.valid || details.pristine" class="alert alert-danger">
                         <p> Name is Required</p>

                  </div>
                </div>
                  <div class="form-group">
                      <label for="entryDate">Writern On</label>
                      <input type='date' id="entryDate" [(ngModel)]="newQuote.entryDate" name="entryDate" #entryDate="ngModel" required >
                      <div [hidden]="entryDate.valid || entryDate.pristine" class="alert alert-danger">
                      <p> Entry Date is Required</p>

                  </div>
                </div>
                <button type="Submit" class="btn btn-success btn-lg" id="pinup">Pin Quote</button>


        </form>
</div>
