#bodyForm{
  text-align: center;
  background-color: #f5c3c2;
  padding: 20,20;
  width: 470%;
  font-size: 50;
}
#message{
  width: 450%;
  margin-left: 10%;
}
#details{
  width: 450%;
  margin-left: 10%;
}
#pinup{
  border-radius: 50%;
  background-color: purple;
  border: purple;
}
